<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.cloud.ssm.mapper.DepartmentMapper">

  <resultMap type="Department" id="departmentMap">
    <id column="id" property="id"></id>
    <result column="name" property="name" />
    <result column="description" property="description" />
  </resultMap>

  <select id="selectAll" resultMap="departmentMap">
    SELECT *
    FROM `t_department`
  </select>

  <delete id="deleteByPrimaryKey" parameterType="long">
    DELETE FROM
    `t_department` WHERE `t_department`.id=#{id}
  </delete>

  <insert id="insert" parameterType="Department">
    INSERT INTO `t_department` (id,name,description)
    VALUES (NULL,#{name},#{description})
  </insert>
  
  <select id="selectByPrimaryKey" resultMap="departmentMap">
    SELECT *
    FROM `t_department`
    WHERE id=#{id}
  </select>
  
  <select id="selectCount" resultType="long">
    SELECT count(*)
    FROM `t_department`
  </select>

  <update id="updateByPrimaryKey" parameterType="Department">
    UPDATE
      `t_department`
    <set>
      <if test="name != null">
        name = #{name},
      </if>
        description = #{description}
    </set>
    WHERE id=#{id}
  </update>

</mapper>