<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.cloud.ssm.mapper.EmployeeMapper">

  <resultMap type="Employee" id="employeeMap">
    <id column="id" property="id"></id>
    <result column="name" property="name" />
    <result column="address" property="address" />
    <result column="age" property="age" />
    <result column="salary" property="salary" />
    <result column="tel" property="tel" />
    <association property="department" column="department" javaType="Department">
      <id property="id" column="department_id"/>
      <result property="name" column="department_name"/>
    </association>
  </resultMap>
  
  <sql id="selectColumns">
    A.id,
    A.name,
    A.address,
    A.age,
    A.salary,
    A.tel,
    B.id AS department_id,
    B.name AS department_name
  </sql>

  <select id="selectAll" resultMap="employeeMap">
    SELECT 
    <include refid="selectColumns"/>
    FROM `t_employee` A
    LEFT OUTER JOIN `t_department` B ON A.department=B.id
    ORDER BY A.id
  </select>
  
  <select id="selectAllByCondition" resultMap="employeeMap">
    SELECT
    <include refid="selectColumns"/>
    FROM `t_employee` A 
    LEFT OUTER JOIN `t_department` B ON A.department=B.id
    <where>
      1=1
      <if test="name != null and name != ''">
        AND A.name = #{name}
      </if> 
      <if test="departmentName != null and departmentName != ''">
        AND A.department = #{departmentName}
      </if>
    </where>
    ORDER BY A.id
  </select>
  
  <select id="selectCountByCondition" resultType="long">
    SELECT count(*)
    FROM `t_employee` A 
    <where>
      1=1
      <if test="name != null and name != ''">
        AND A.name = #{name}
      </if> 
      <if test="departmentName != null and departmentName != ''">
        AND A.department = #{departmentName}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="long">
    DELETE FROM
    `t_employee` WHERE `t_employee`.id=#{id}
  </delete>

  <insert id="insert" parameterType="Employee">
    INSERT INTO `t_employee` (id,name,address,age,department,salary,tel)
    VALUES (NULL,#{name},#{address},#{age},#{department.id},#{salary},#{tel})
  </insert>
  
  <select id="selectByPrimaryKey" resultMap="employeeMap">
    SELECT
    <include refid="selectColumns"/>
    FROM `t_employee` A
    LEFT OUTER JOIN `t_department` B ON A.department=B.id
    <where>
      A.id=#{id}
    </where>
  </select>
  
  <select id="selectCount" resultType="long">
    SELECT count(*)
    FROM `t_employee`
  </select>

  <update id="updateByPrimaryKey" parameterType="Employee">
    UPDATE
      `t_employee`
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="address != null">
        address = #{address},
      </if>
      <if test="department != null">
        department = #{department.id},
      </if>
      <if test="salary != null">
        salary = #{salary},
      </if>
      <if test="tel != null">
        tel = #{tel},
      </if>
        age = #{age}
    </set>
    <where>
      id=#{id}
    </where>
  </update>

</mapper>